.bola{
    width: 50px;
    height: 50px;
    background-color: rgb(173,216,230);
    position: absolute;
    border-radius: 25px;
}

body{
    width: 100%;
    height: 100vh;
    transition: .6s ease;

    background-color: #4880a5 !important;
    background-image: url("./assets/oceano.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
}
